<div class="hangman-container">
  <img src="assets/images/Board.png">

  <app-word [letters]="selectedWord.split('')"
            [selectedLetters]="selectedLetters"
  ></app-word>
  <app-hangman [wrongGuesses]="wrongCount"></app-hangman>
  <app-letters [onLetterClicked]="onSelectLetter"
               [onSelectedLetters]="selectedLetters"
  ></app-letters>
</div>
<app-modal *ngIf="success !== null"
           [resetGame]="getWords"
           [nextLevel]="nextLevel"
           [playedTime]="gameTime"
           [success]="success"
           [gameWon]="gameWon"
></app-modal>
