<div class="hangman-draw">
  <img class="head" *ngIf="wrongGuesses > 0" src="../../../assets/images/head.png" />
  <img class="body-upper" *ngIf="wrongGuesses > 1" src="../../../assets/images/bodyElement.png" />
  <img class="body-lower" *ngIf="wrongGuesses > 1" src="../../../assets/images/bodyElement.png" />
  <img class="left-hand" *ngIf="wrongGuesses > 2" src="../../../assets/images/bodyElement.png" />
  <img class="right-hand" *ngIf="wrongGuesses > 3" src="../../../assets/images/bodyElement.png" />
  <img class="left-leg" *ngIf="wrongGuesses > 4" src="../../../assets/images/bodyElement.png" />
  <img class="right-leg" *ngIf="wrongGuesses > 5" src="../../../assets/images/bodyElement.png" />
</div>
